<h1>Image Rating Test</h1>

<p>You have reached the end of the task. Thank you for taking part in the test!</p>


<div class="buttons">
  <%= link_to "Back to Home", logout_path, class: "btn btn-large btn-primary" %>
</div>

<p>
<% if session[:vcode].nil? %>
	
<% else %>
	<%= "Your code : " + session[:vcode] %>
<% end %>
</p>