<h1>Instructions</h1>
<h2> Part 2 </h2>

<ul class="instructions-text">
	<li>Please read and follow every instruction carefully.</li>
	<li>This task is still similar to the previous task.</li>
	<li>Instead of evaluating 1 image, you will be given 4 images representing views of a single location from 4 directions in clockwise order</li>
	<li>The questions and how to answer them are the same as Part 1</li>
	<li>After answer the questions in an image, click 'Next' to continue with the next set of images.</li>
</ul>

<p><em>Please note that <b>there is no right or wrong answer</b>.</em></p>



<div id="wait-text"></div>
<div class="buttons">
  <%= link_to "OK, I get it", ready_part2_path, class: "btn btn-large btn-primary", :id => "start-button"%>
</div>