<% provide(:title, 'Introduction') %>

<h1>Introduction</h1>

<p>Thank you for participating in this experiment! In this experiment, we ask you to rate several images based on their <b>beauty</b>. Before continuing with the experiment, please make sure that you have signed the consent form.</p>

<ul>
	<li>In this experiment, you will be asked to perform four small tasks of rating images based on their beauty, with a five-minute break after the second task.</li>
	<li>In the beginning of each task, you will be given a set of instructions on how to rate the images.</li>
	<li>After reading the instructions, you will be asked to rate two images as a training on how to rate the images.</li>
	<li>The training is to help you get used to the rating interface. We will not collect data from the training.</li>
	<li>After completing the training, you will then be able to begin the task.</li>
	<li>At the end of each task, please wait for the experimenter to help you start with the next task.</li>
	<li>During the whole experiment, you are allowed to take a break at any moment if you feel tired.</li>
	<li>If you find yourself making a mistake when giving your rating, please inform the experimenter before you rate the next image. The experimenter will write down your correction for the previous' image rating.</li>	
</ul>

<div class="buttons">
  <%= link_to "Click to continue", 'instructions', class: "btn btn-large btn-primary" %> 
</div>