<h1>Instructions - Part 1</h1>
<ul class="instructions-text">
	<li>Please read the instructions carefully.</li>
	<li>This task is for non-profit research purposes. The objective is to <b> measure the attractiveness of a place </b> as illustrated through Google StreetView images.</li>
	<li>The task consists of two (2) parts.</li>
	<li>In the first part, you will be shown images of different places in Amsterdam.</li>
    <li>For each image, please answer the questions by selecting the appropriate options.</li>
    <li>Please note that you are <b> evaluating the place </b> as illustrated in each image.</li>
    <li>After answering all the questions in a page, click 'Next' to continue with the next image.</li>
</ul>

<p><em>Please note that <b>there is no right or wrong answer</b>.</em></p>


<div id="wait-text"></div>
<div class="buttons">
  <%= link_to "Start now!", totraining_part1_path, class: "btn btn-large btn-primary", :id => "start-button"%>
</div>