<h1>Instructions</h1>
<h2> Part 2 </h2>

<ul class="instructions-text">
	<li>Please read and follow every instruction carefully.</li>
	<li>In this task, you will be presented with a set of images.</li>
	<li>For each image, please answer these questions:</li>
        <p>1. If you are on vacation and want to find pleasure, would you like to visit this place?</p>
        <p>2. How familiar are you with this kind of place?</p>
        <p>3. Do you consider this place friendly?</p>
    </li>
	<li>Please answer by choose a corresponding rating in the slider</li>
	<li>After answer the questions in an image, click 'Next' to continue with the next image(s).</li>
</ul>

<p><em>Please note that there is no right or wrong answer. We are interested in knowing your first impression of the image.</em></p>



<div id="wait-text"></div>
<div class="buttons">
  <%= link_to "Start now!", totraining_part2_path, class: "btn btn-large btn-primary", :id => "start-button"%>
</div>