<h1>Instructions - Part 2</h1>

<ul class="instructions-text">
    <li>This task is still similar to the previous task.</li>
    <li>Instead of evaluating 1 image, <b>you will be given 4 images</b> representing views of a single place from 4 different directions in clockwise direction.</li>
    <li>Please answer the questions by selecting the appropriate options.</li>
    <li>After answering the questions in a page, click 'Next' to continue with the next set of images.</li>
</ul>

<p><em>Please note that <b>there is no right or wrong answer</b>.</em></p>



<div id="wait-text"></div>
<div class="buttons">
  <%= link_to "OK, I get it", ready_part2_path, class: "btn btn-large btn-primary", :id => "start-button"%>
</div>