<h1>Begin Task - Part 1</h1>

<p>Good, you have done the trial.</p>
<p>You will now begin the task.</p>

<div class="buttons">
  <%= link_to "Begin task", show_part1_path, class: "btn btn-large btn-primary" %>
</div>