<h1>Begin Test - Part 2</h1>

<p>Good, you have done the trial.</p>
<p>You will now begin the test.</p>

<div class="buttons">
  <%= link_to "Begin test", show_part2_path, class: "btn btn-large btn-primary" %>
</div>