<h1>Example Image</h1>

<p>Before you begin the task, you will see an example on how to rate an image.</p>

<div class="buttons">
  <%= link_to "Go to example", training_part1_path, class: "btn btn-large btn-primary" %>
</div>