<h1>Example Images</h1>

<p>Before you begin the test, you will see an example on how to rate an image.</p>

<div class="buttons">
  <%= link_to "Go to training", training_part2_path, class: "btn btn-large btn-primary" %>
</div>