<h1>End of Part 1</h1>

<p>Great!! You have finished Part 1 task</p>
<p>Next, we will continue to Part 2</p>

<div class="buttons">
  <%= link_to "Go to Part 2", intro_part2_path, class: "btn btn-large btn-primary" %>
</div>