<h1>Example Images</h1>

<p>Before you begin the test, you will see some examples on how to rate quality and beauty of images.</p>

<div class="buttons">
  <%= link_to "Go to training", training_path, class: "btn btn-large btn-primary" %> 
</div>