@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*universal*/

html {
	overflow-y: scroll;
}

img {
  max-width: 720px;
}

body {
	padding-top: 60px;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

.instructions-text {
  text-align:left;
  margin-top: 30px;
  margin-bottom: 30px;
}

.contentquestion {
  margin-top: 35px;
  text-align: center;
}

.box {
  border: 1px solid;
}

/* typography */

h1 , h2 , h3 , h4 , h5 , h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

h3{
  text-align: center;
}

p, li, label {
  font-size: 1.3em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo :hover {
   color: #fff;
   text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}

footer a :hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: right;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

.btn {
  font-size: 1.5em;
  line-height: 1.7em;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.buttons {
  text-align: center;
  margin-top: 30px;
}

#example {
  text-align: center;
}

#example img {
  margin-top: 20px;
  border:1px solid #021a40;
  margin-bottom: 20px;
}

/*scales*/
#test_image {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

#test-image img {
  width: auto;
}

.ui-slider {
  margin-top: 20px;
}

.anchors img {
  margin-top: 5px;
  height: 120px;
  width: auto;
  position: relative;
}


.anchors td {
  text-align: center;
}

.question {
  width: 45%;
}

.question td {
  text-align: left;
}


label{
  margin-top: 5px;
  display: inline-block;
  text-align:center;
}

label:first-child{
  text-align:left;
}
label:last-child{
  text-align:right;
}
