<footer class="footer"> 
  <nav> 
    <ul>
    <% if request.path != "/newuser" && request.path != "" %>
      <li>User: <%= session[:user]%> (<%= link_to "Logout", logout_path %>)</li>
    <% end %>
      <li> | </li>
      <li> <%= link_to "About",   about_path %> </li>
    </ul> 
  </nav> 
  <small>
  <%= link_to image_tag("tu.jpg"), 'http://tudelft.nl/' %>
  </small>
</footer>