<ul class="instructions-text">
	<li>In this task, you will be presented with a set of images.</li>
	<li>For each image, <b>please rate how beautiful the image is</b> using the checkbox at the bottom of the page.</li>
	<li>Check the box if you think the image is "Beautiful". Otherwise, leave it empty.</li>
	<li>After rating the image's beauty, click 'Next' to continue with the next image(s).</li>
</ul>

<p><em>Please note that there is no right or wrong answer. We are interested in knowing your first impression of the image.</em></p>