<ul class="instructions-text">
	<li>In this task, you will be presented with a set of images.</li>
	<li>For each image presented, <b>please rate how beautiful the image is</b> using the scale at the bottom of the page.</li>
	<li>You can rate the image by dragging the scale slider to the appropriate position in the scale.</li>
	<li>The most left side of the scale represents "Ugly", while the most right side of the scale represents "Beautiful".</li>
	<li>Three images will also be positioned in the scale, to represent "ugly", "neutral", and "beautiful" images.</li>
	<li>You might use these images for comparison when rating.</li>
	<li>After rating how beautiful the given image is, click 'Next' to continue with the next image(s).</li>
</ul>

<p><em>Please note that there is no right or wrong answer. We are interested in knowing your first impression of the image.</em></p>