<p>
  Please check the box if you think the image is beautiful :
</p>
<table align="center" style="width=50%"><tr>
	<td width="25%"><%= check_box_tag (:chk) %> </td>
	<td width="75%"> <%= label_tag (:chk), 'Beautiful' %></td>
</tr></table>

