<p>
Please indicate with the slider how beautiful the image is:
</p>

<div id="slider"></div>

<table style="width:100%">
	<tr>
		<td style="text-align:left" width="12.5%">Bad</td>
		<td style="text-align:center" >Poor</td>
		<td style="text-align:center" width="25%">Fair</td>
		<td style="text-align:center" width="25%">Good</td>
		<td style="text-align:right" width="12.5%">Excellent</td>
	</tr>
</table>
