<p>
Please indicate with the slider how beautiful the image is:
</p>

<div id="slider"></div>
<table style="width:100%">
	<tr>
		<td style="text-align:left">Ugly</td>
		<td style="text-align:right">Beautiful</td>
	</tr>
</table>


<table class="anchors" style="width:100%">
	<tr>
	<td><%= link_to image_tag('anchor-1.jpg', id:"anchor1"), '#' %></td>
	<td><%= link_to image_tag('anchor-2.bmp', id:"anchor2"), '#' %></td>
	<td><%= link_to image_tag('anchor-3.jpg', id:"anchor3"), '#' %></td>
</tr>
</table>
